In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("../data/group_data.csv")

df.head(1)

,MRTime,Longitude,Latitude,RNCID_1,CellID_1,SignalLevel_1,RSSI_1,RNCID_2,CellID_2,SignalLevel_2,...,RNCID_7,CellID_7,SignalLevel_7,RSSI_7,LinkNum,id_c5ombine,Longitude_eng,Latitude_eng,lo,la
0,1.510000e+12,121.213563,31.291798,6188,26051,4,-59,6188,27394,3,...,6182.0,44754.0,3.0,-95.0,7,32239,121.211928,31.288649,0.001635,0.003149

In [6]:
# 将数据分组，然后将每一组中的MR数据进行简化处理，基站标识号依次变为1，2，3，... ，7
# 按照主机站进行分组
data = df.groupby(['RNCID_1','CellID_1'])
data = list(data)  # 共43个组
type(data[0][1])  # 第1组的数据

pandas.core.frame.DataFrame